# Ignore git and version control files
.git
.gitignore
.gitmodules

# Ignore cache and temporary files
__pycache__
*.pyc
*.pyo
*.pyd
.cache
*.log
*.tmp

# Ignore other files and folders that are not needed in the Docker image
Dockerfile*
Dockerfile
.dockerignore
docker-compose*
*.md
README.md
LICENSE

# Ignore any Python virtual environment folders
venv/
*.venv
.env

# Ignore some other files
run_with_env.sh
Jenkinsfile
.vscode
logs
docs
bin
logs
run_test.py
tests
env/
# keep for local development
!env/development.env
mysql_data